# 第4章 : DataFrameの構造を理解する

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
np.random.seed(17) # 乱数シード固定
arr_int1 = np.random.randint(100, 10000, 100)
arr_int1[:5] # 上5個だけ表示

array([2291,  506, 9629, 6161, 8570], dtype=int32)

In [5]:
# Seriesを作成
sr = pd.Series(arr_int1)
sr # 左側にindexが表示される

0     2291
1      506
2     9629
3     6161
4     8570
      ...
95    4285
96    9714
97    5113
98    5916
99    1578
Length: 100, dtype: int32

seriesとndarrayを比較する

In [6]:
type(sr)

pandas.core.series.Series

In [7]:
sr.ndim # ndarrayと同じくndimある

1

In [8]:
sr.shape # ndarrayと同じくshapeある

(100,)

In [9]:
sr.max() # ndarrayと同じくmax()ある

np.int32(9991)

In [10]:
sr.reshape() # ndarrayと異なりreshape()はない

AttributeError: 'Series' object has no attribute 'reshape'

In [11]:
# Seriesに名前を付ける
sr.name = "Price"
sr

0     2291
1      506
2     9629
3     6161
4     8570
      ...
95    4285
96    9714
97    5113
98    5916
99    1578
Name: Price, Length: 100, dtype: int32

In [12]:
# Series作成時に名前を付けることもできる
sr_price = pd.Series(arr_int1, name="Price")
sr_price

0     2291
1      506
2     9629
3     6161
4     8570
      ...
95    4285
96    9714
97    5113
98    5916
99    1578
Name: Price, Length: 100, dtype: int32

次にDataFrameを作成していく

In [13]:
np.random.seed(17)
arr_int2 = np.random.randint(10, 100, 100)
sr_quantity = pd.Series(arr_int2, name="Quantity")

In [17]:
np.random.seed(17)
arr_f1 = np.random.rand(100, 2) * 10 # 100行2列の0~10の値をとる少数データ作成
sr = pd.Series(arr_f1) # error

ValueError: Data must be 1-dimensional, got ndarray of shape (100, 2) instead

これより、Seriesでは1次元配列でないと作成できない

2次元の配列の場合はDataFrameを使う

In [18]:
df = pd.DataFrame(arr_f1)
df

           0         1
0   2.946650  5.305868
1   1.915208  0.679004
2   7.869855  6.563335
3   6.375209  5.756029
4   0.390629  3.578136
..       ...       ...
95  9.133029  5.902204
96  1.711943  7.144745
97  2.384461  9.218051
98  7.212739  6.769230
99  9.868106  5.397452

[100 rows x 2 columns]

In [19]:
# カラム名を変更
df_wh = pd.DataFrame(arr_f1, columns=["Width", "Height"])
df_wh

       Width    Height
0   2.946650  5.305868
1   1.915208  0.679004
2   7.869855  6.563335
3   6.375209  5.756029
4   0.390629  3.578136
..       ...       ...
95  9.133029  5.902204
96  1.711943  7.144745
97  2.384461  9.218051
98  7.212739  6.769230
99  9.868106  5.397452

[100 rows x 2 columns]

In [20]:
# 40~60の一様分布の小数データ(100, 1)からDataFrameを作成
np.random.seed(17)
arr_uni = np.random.uniform(40, 60, (100, 1))
df_quality = pd.DataFrame(arr_uni, columns=["Quality"])
df_quality

      Quality
0   45.893300
1   50.611735
2   43.830416
3   41.358007
4   55.739709
..        ...
95  41.603027
96  57.420940
97  54.261728
98  54.642241
99  56.472400

[100 rows x 1 columns]

In [21]:
# 平均0, 標準偏差1の正規分布に従う小数データ(100,1)からDataFrameを作成
np.random.seed(17)
arr_n = np.random.randn(100, 1)
df_difference = pd.DataFrame(arr_n, columns=["Difference"])

In [22]:
# 平均50, 標準偏差10の正規分布に従う小数データ(100, 1)からDataFrameを作成
np.random.seed(17)
arr_nor = np.random.normal(50, 10, (100, 1))
df_score = pd.DataFrame(arr_nor, columns=["Score"])

In [23]:
# ndarrayの結合
np.random.seed(17)
colors = ["red", "green", "blue"]
shapes = ["circle", "square", "triangle"]
arr_colors = np.random.choice(colors, (100, 1))
arr_shapes = np.random.choice(shapes, (100, 1))

arr_cs = np.concatenate([arr_colors, arr_shapes]) # (200, 1)
arr_cs

array([['green'],
       ['blue'],
       ['blue'],
       ['green'],
       ['red'],
       ['green'],
       ['blue'],
       ['red'],
       ['red'],
       ['red'],
       ['green'],
       ['blue'],
       ['green'],
       ['green'],
       ['red'],
       ['blue'],
       ['blue'],
       ['blue'],
       ['blue'],
       ['green'],
       ['green'],
       ['blue'],
       ['green'],
       ['blue'],
       ['green'],
       ['green'],
       ['green'],
       ['red'],
       ['green'],
       ['green'],
       ['blue'],
       ['blue'],
       ['blue'],
       ['red'],
       ['blue'],
       ['green'],
       ['green'],
       ['red'],
       ['blue'],
       ['blue'],
       ['green'],
       ['red'],
       ['green'],
       ['red'],
       ['blue'],
       ['blue'],
       ['red'],
       ['green'],
       ['blue'],
       ['blue'],
       ['blue'],
       ['green'],
       ['red'],
       ['green'],
       ['red'],
       ['red'],
       ['red'],
       ['red'],
       ['green'],
       ['blue'],
       ['red'],
       ['red'],
       ['green'],
       ['green'],
       ['red'],
       ['green'],
       ['red'],
       ['green'],
       ['green'],
       ['red'],
       ['green'],
       ['blue'],
       ['green'],
       ['green'],
       ['green'],
       ['blue'],
       ['green'],
       ['green'],
       ['blue'],
       ['green'],
       ['blue'],
       ['blue'],
       ['blue'],
       ['red'],
       ['blue'],
       ['blue'],
       ['red'],
       ['blue'],
       ['green'],
       ['red'],
       ['red'],
       ['red'],
       ['blue'],
       ['green'],
       ['red'],
       ['blue'],
       ['red'],
       ['blue'],
       ['blue'],
       ['red'],
       ['triangle'],
       ['triangle'],
       ['square'],
       ['square'],
       ['square'],
       ['triangle'],
       ['circle'],
       ['square'],
       ['triangle'],
       ['circle'],
       ['triangle'],
       ['circle'],
       ['triangle'],
       ['triangle'],
       ['triangle'],
       ['square'],
       ['circle'],
       ['triangle'],
       ['triangle'],
       ['circle'],
       ['square'],
       ['square'],
       ['square'],
       ['square'],
       ['square'],
       ['triangle'],
       ['square'],
       ['square'],
       ['circle'],
       ['triangle'],
       ['square'],
       ['circle'],
       ['triangle'],
       ['circle'],
       ['square'],
       ['circle'],
       ['square'],
       ['circle'],
       ['square'],
       ['square'],
       ['triangle'],
       ['triangle'],
       ['square'],
       ['triangle'],
       ['triangle'],
       ['triangle'],
       ['circle'],
       ['triangle'],
       ['triangle'],
       ['circle'],
       ['circle'],
       ['square'],
       ['square'],
       ['triangle'],
       ['circle'],
       ['triangle'],
       ['circle'],
       ['triangle'],
       ['square'],
       ['circle'],
       ['square'],
       ['triangle'],
       ['square'],
       ['square'],
       ['square'],
       ['triangle'],
       ['triangle'],
       ['triangle'],
       ['circle'],
       ['triangle'],
       ['square'],
       ['square'],
       ['square'],
       ['triangle'],
       ['square'],
       ['circle'],
       ['triangle'],
       ['triangle'],
       ['circle'],
       ['circle'],
       ['triangle'],
       ['square'],
       ['square'],
       ['triangle'],
       ['square'],
       ['circle'],
       ['circle'],
       ['triangle'],
       ['circle'],
       ['circle'],
       ['circle'],
       ['circle'],
       ['square'],
       ['circle'],
       ['square'],
       ['circle'],
       ['triangle'],
       ['square'],
       ['circle'],
       ['circle']], dtype='<U8')

In [26]:
arr_cs = np.concatenate([arr_colors, arr_shapes], axis=1) # (100, 2)になる
arr_cs[:5] # 5行だけ表示

array([['green', 'triangle'],
       ['blue', 'triangle'],
       ['blue', 'square'],
       ['green', 'square'],
       ['red', 'square']], dtype='<U8')

In [27]:
# hstack(Horizontal)
arr_cs_hstack = np.hstack([arr_colors, arr_shapes])
arr_cs_hstack[:5]

array([['green', 'triangle'],
       ['blue', 'triangle'],
       ['blue', 'square'],
       ['green', 'square'],
       ['red', 'square']], dtype='<U8')

In [29]:
# vstack(Vertical)
arr_cs_vstack = np.vstack([arr_colors, arr_shapes])
arr_cs_vstack[98:103]

array([['blue'],
       ['red'],
       ['triangle'],
       ['triangle'],
       ['square']], dtype='<U8')

In [30]:
# DataFrameを作成
df_cs = pd.DataFrame(arr_cs, columns=["Color", "Shape"])

DateTimeを使用する

`freq`について以下がある
- `D` : 日
- `B` : 月曜-金曜
- `W` : 週(日曜スタート)
- `M` : 月末
- `Y` : 年末

さらに、`2D`, `12H`などとして使用できる

In [33]:
dates = pd.date_range("1997/7/5", periods=100, freq="D") # DatetimeIndex型で1997/7/5を始点として1日間隔で100個作成
dates

DatetimeIndex(['1997-07-05', '1997-07-06', '1997-07-07', '1997-07-08',
               '1997-07-09', '1997-07-10', '1997-07-11', '1997-07-12',
               '1997-07-13', '1997-07-14', '1997-07-15', '1997-07-16',
               '1997-07-17', '1997-07-18', '1997-07-19', '1997-07-20',
               '1997-07-21', '1997-07-22', '1997-07-23', '1997-07-24',
               '1997-07-25', '1997-07-26', '1997-07-27', '1997-07-28',
               '1997-07-29', '1997-07-30', '1997-07-31', '1997-08-01',
               '1997-08-02', '1997-08-03', '1997-08-04', '1997-08-05',
               '1997-08-06', '1997-08-07', '1997-08-08', '1997-08-09',
               '1997-08-10', '1997-08-11', '1997-08-12', '1997-08-13',
               '1997-08-14', '1997-08-15', '1997-08-16', '1997-08-17',
               '1997-08-18', '1997-08-19', '1997-08-20', '1997-08-21',
               '1997-08-22', '1997-08-23', '1997-08-24', '1997-08-25',
               '1997-08-26', '1997-08-27', '1997-08-28', '1997-08-29',
               '1997-08-30', '1997-08-31', '1997-09-01', '1997-09-02',
               '1997-09-03', '1997-09-04', '1997-09-05', '1997-09-06',
               '1997-09-07', '1997-09-08', '1997-09-09', '1997-09-10',
               '1997-09-11', '1997-09-12', '1997-09-13', '1997-09-14',
               '1997-09-15', '1997-09-16', '1997-09-17', '1997-09-18',
               '1997-09-19', '1997-09-20', '1997-09-21', '1997-09-22',
               '1997-09-23', '1997-09-24', '1997-09-25', '1997-09-26',
               '1997-09-27', '1997-09-28', '1997-09-29', '1997-09-30',
               '1997-10-01', '1997-10-02', '1997-10-03', '1997-10-04',
               '1997-10-05', '1997-10-06', '1997-10-07', '1997-10-08',
               '1997-10-09', '1997-10-10', '1997-10-11', '1997-10-12'],
              dtype='datetime64[ns]', freq='D')

In [34]:
# DatetimeIndexをSeriesに変換
sr_date = pd.Series(dates, name="Date")
type(sr_date)

pandas.core.series.Series

In [35]:
# Dfを結合する
# ndarrayではcondatenateだが、DataFrameではconcat
df = pd.concat([sr_date, sr_price, sr_quantity, df_wh, df_quality, df_score, df_difference, df_cs], axis=1)
df

,Date,Price,Quantity,Width,Height,Quality,Score,Difference,Color,Shape
0,1997-07-05,2291,25,2.946650,5.305868,45.893300,52.762659,0.276266,green,triangle
1,1997-07-06,506,16,1.915208,0.679004,50.611735,31.453719,-1.854628,blue,triangle
2,1997-07-07,9629,32,7.869855,6.563335,43.830416,56.239011,0.623901,blue,square
3,1997-07-08,6161,67,6.375209,5.756029,41.358007,61.453113,1.145311,green,square
4,1997-07-09,8570,55,0.390629,3.578136,55.739709,60.371905,1.037190,red,square
...,...,...,...,...,...,...,...,...,...,...
95,1997-10-08,4285,50,9.133029,5.902204,41.603027,61.307264,1.130726,blue,circle
96,1997-10-09,9714,76,1.711943,7.144745,57.420940,55.600397,0.560040,red,triangle
97,1997-10-10,5113,62,2.384461,9.218051,54.261728,43.816027,-0.618397,blue,square
98,1997-10-11,5916,57,7.212739,6.769230,54.642241,47.752013,-0.224799,blue,circle
99,1997-10-12,1578,77,9.868106,5.397452,56.472400,72.159015,2.215901,red,circle

In [36]:
# DataFrameのサンプル方法
df.head() # 5行表示

,Date,Price,Quantity,Width,Height,Quality,Score,Difference,Color,Shape
0,1997-07-05,2291,25,2.946650,5.305868,45.893300,52.762659,0.276266,green,triangle
1,1997-07-06,506,16,1.915208,0.679004,50.611735,31.453719,-1.854628,blue,triangle
2,1997-07-07,9629,32,7.869855,6.563335,43.830416,56.239011,0.623901,blue,square
3,1997-07-08,6161,67,6.375209,5.756029,41.358007,61.453113,1.145311,green,square
4,1997-07-09,8570,55,0.390629,3.578136,55.739709,60.371905,1.037190,red,square

In [37]:
df.head(3) # 先頭3行

,Date,Price,Quantity,Width,Height,Quality,Score,Difference,Color,Shape
0,1997-07-05,2291,25,2.946650,5.305868,45.893300,52.762659,0.276266,green,triangle
1,1997-07-06,506,16,1.915208,0.679004,50.611735,31.453719,-1.854628,blue,triangle
2,1997-07-07,9629,32,7.869855,6.563335,43.830416,56.239011,0.623901,blue,square

In [38]:
df.tail(3) # 末尾3行

,Date,Price,Quantity,Width,Height,Quality,Score,Difference,Color,Shape
97,1997-10-10,5113,62,2.384461,9.218051,54.261728,43.816027,-0.618397,blue,square
98,1997-10-11,5916,57,7.212739,6.769230,54.642241,47.752013,-0.224799,blue,circle
99,1997-10-12,1578,77,9.868106,5.397452,56.472400,72.159015,2.215901,red,circle

In [39]:
df.sample(3) # ランダム

,Date,Price,Quantity,Width,Height,Quality,Score,Difference,Color,Shape
13,1997-07-18,5863,27,1.509067,0.552414,57.545811,48.619507,-0.138049,green,triangle
92,1997-10-05,8057,60,5.927891,0.157152,59.760133,78.711269,2.871127,blue,square
18,1997-07-23,1933,73,6.767624,1.184723,49.670572,39.077701,-1.092230,blue,triangle

In [40]:
df.sample(frac=1) # シャッフル

,Date,Price,Quantity,Width,Height,Quality,Score,Difference,Color,Shape
20,1997-07-25,3445,48,7.972677,0.679787,45.954514,40.177057,-0.982294,green,square
6,1997-07-11,3723,41,8.640421,8.772905,52.750418,48.883017,-0.111698,blue,circle
69,1997-09-12,5535,35,1.572095,4.252405,58.322202,56.110079,0.611008,red,triangle
35,1997-08-09,8119,37,2.738132,2.363811,43.179175,58.696238,0.869624,green,circle
95,1997-10-08,4285,50,9.133029,5.902204,41.603027,61.307264,1.130726,blue,circle
...,...,...,...,...,...,...,...,...,...,...
42,1997-08-16,6307,37,4.537375,4.876773,59.215755,51.267272,0.126727,green,square
92,1997-10-05,8057,60,5.927891,0.157152,59.760133,78.711269,2.871127,blue,square
31,1997-08-05,7921,54,1.974438,0.833254,56.627278,48.614148,-0.138585,blue,circle
10,1997-07-15,5916,54,2.977257,5.615089,58.913664,71.712570,2.171257,green,triangle
84,1997-09-27,1864,45,5.378895,0.835376,49.074749,59.341481,0.934148,blue,square

In [41]:
df.sample(frac=1, random_state=17) # randome_stateでシード値を指定できる

,Date,Price,Quantity,Width,Height,Quality,Score,Difference,Color,Shape
71,1997-09-14,6801,99,3.606084,1.688734,44.727623,49.963040,-0.003696,blue,square
28,1997-08-02,3216,15,1.304293,9.843835,54.360744,42.447770,-0.755223,green,circle
9,1997-07-14,1874,94,4.835286,2.829882,47.156272,45.622168,-0.437783,red,circle
4,1997-07-09,8570,55,0.390629,3.578136,55.739709,60.371905,1.037190,red,square
73,1997-09-16,6354,84,7.945283,7.917093,54.312865,56.844951,0.684495,green,triangle
...,...,...,...,...,...,...,...,...,...,...
45,1997-08-19,7708,36,5.156806,5.698250,54.871535,50.991466,0.099147,blue,triangle
57,1997-08-31,639,30,9.479230,1.300150,59.687671,61.854042,1.185404,red,triangle
22,1997-07-27,8521,67,7.187761,7.435768,47.920949,54.913338,0.491334,green,square
6,1997-07-11,3723,41,8.640421,8.772905,52.750418,48.883017,-0.111698,blue,circle
15,1997-07-20,7530,66,1.987739,8.313639,53.048372,32.247177,-1.775282,blue,square

In [44]:
# pandasの表示設定を変更
pd.set_option("display.max_rows", 100)
pd.set_option("display.max_columns", 100)
df

,Date,Price,Quantity,Width,Height,Quality,Score,Difference,Color,Shape
0,1997-07-05,2291,25,2.946650,5.305868,45.893300,52.762659,0.276266,green,triangle
1,1997-07-06,506,16,1.915208,0.679004,50.611735,31.453719,-1.854628,blue,triangle
2,1997-07-07,9629,32,7.869855,6.563335,43.830416,56.239011,0.623901,blue,square
3,1997-07-08,6161,67,6.375209,5.756029,41.358007,61.453113,1.145311,green,square
4,1997-07-09,8570,55,0.390629,3.578136,55.739709,60.371905,1.037190,red,square
5,1997-07-10,9347,32,9.456832,0.600447,53.126670,68.866389,1.886639,green,triangle
6,1997-07-11,3723,41,8.640421,8.772905,52.750418,48.883017,-0.111698,blue,circle
7,1997-07-12,4664,78,0.511937,6.524186,51.512058,46.378987,-0.362101,red,square
8,1997-07-13,3045,49,5.517514,5.975133,40.781258,51.486750,0.148675,red,triangle
9,1997-07-14,1874,94,4.835286,2.829882,47.156272,45.622168,-0.437783,red,circle
10,1997-07-15,5916,54,2.977257,5.615089,58.913664,71.712570,2.171257,green,triangle
11,1997-07-16,2926,17,3.960474,7.887007,41.200894,61.523103,1.152310,blue,circle
12,1997-07-17,4678,11,4.184844,1.439039,57.280842,31.811877,-1.818812,green,triangle
13,1997-07-18,5863,27,1.509067,0.552414,57.545811,48.619507,-0.138049,green,triangle
14,1997-07-19,8099,51,7.180372,2.923174,41.023873,55.398396,0.539840,red,triangle
15,1997-07-20,7530,66,1.987739,8.313639,53.048372,32.247177,-1.775282,blue,square
16,1997-07-21,7434,20,5.679911,0.823397,51.035027,63.148765,1.314877,blue,circle
17,1997-07-22,8255,13,5.449986,1.589587,51.950265,45.265520,-0.473448,blue,triangle
18,1997-07-23,1933,73,6.767624,1.184723,49.670572,39.077701,-1.092230,blue,triangle
19,1997-07-24,4893,16,4.449961,8.879824,45.659763,47.499726,-0.250027,green,circle
20,1997-07-25,3445,48,7.972677,0.679787,45.954514,40.177057,-0.982294,green,square
21,1997-07-26,5202,51,9.607878,6.592054,51.230178,60.312691,1.031269,blue,square
22,1997-07-27,8521,67,7.187761,7.435768,47.920949,54.913338,0.491334,green,square
23,1997-07-28,4629,40,8.877364,1.339457,55.774014,45.533534,-0.446647,blue,square
24,1997-07-29,2180,27,7.769746,8.379915,48.369688,41.936399,-0.806360,green,square
25,1997-07-30,2977,59,8.293048,0.291570,42.878078,51.312678,0.131268,green,triangle
26,1997-07-31,266,42,3.903745,4.372520,43.018134,37.874398,-1.212560,green,square
27,1997-08-01,5222,71,5.206351,4.928727,41.104827,51.599909,0.159991,red,square
28,1997-08-02,3216,15,1.304293,9.843835,54.360744,42.447770,-0.755223,green,circle
29,1997-08-03,7194,48,0.657023,5.792841,45.846347,53.498960,0.349896,green,triangle
30,1997-08-04,7645,12,5.807748,9.543379,43.975477,59.775418,0.977542,blue,square
31,1997-08-05,7921,54,1.974438,0.833254,56.627278,48.614148,-0.138585,blue,circle
32,1997-08-06,2716,64,8.838642,0.156962,51.359822,51.038563,0.103856,blue,triangle
33,1997-08-07,4479,23,7.955946,7.681904,41.646795,53.005910,0.300591,red,circle
34,1997-08-08,2894,66,8.720438,9.161101,50.899971,59.682053,0.968205,blue,square
35,1997-08-09,8119,37,2.738132,2.363811,43.179175,58.696238,0.869624,green,circle
36,1997-08-10,9110,93,3.105198,7.156433,53.535248,55.677831,0.567783,green,square
37,1997-08-11,4768,60,0.827355,6.754864,42.369445,54.652823,0.465282,red,circle
38,1997-08-12,3180,59,8.585247,6.928969,48.899921,38.346269,-1.165373,blue,square
39,1997-08-13,535,70,7.850837,3.532813,57.759649,29.640052,-2.035995,blue,square
40,1997-08-14,2431,18,2.201921,2.453724,55.945355,38.445867,-1.155413,green,triangle
41,1997-08-15,4063,61,7.274125,0.641278,41.359575,83.451574,3.345157,red,triangle
42,1997-08-16,6307,37,4.537375,4.876773,59.215755,51.267272,0.126727,green,square
43,1997-08-17,1150,97,6.408748,1.061689,53.184108,43.058211,-0.694179,red,triangle
44,1997-08-18,3263,73,5.736099,9.603458,54.375522,55.576744,0.557674,blue,triangle
45,1997-08-19,7708,36,5.156806,5.698250,54.871535,50.991466,0.099147,blue,triangle
46,1997-08-20,722,66,9.880067,8.328709,57.754727,56.379262,0.637926,red,circle
47,1997-08-21,1838,67,4.981437,0.801513,42.678913,57.031107,0.703111,green,triangle
48,1997-08-22,4710,89,8.710470,7.130864,55.539492,40.839068,-0.916093,blue,triangle
49,1997-08-23,1429,84,7.321120,8.236200,56.759830,42.139858,-0.786014,blue,circle
50,1997-08-24,3349,12,7.449792,4.130626,56.586095,61.191818,1.119182,blue,circle
51,1997-08-25,9900,59,5.147053,8.465415,40.583140,40.166039,-0.983396,green,square
52,1997-08-26,1584,98,8.588621,3.105036,47.807490,52.445200,0.244520,red,square
53,1997-08-27,888,59,1.193864,5.209595,48.745040,44.185903,-0.581410,green,triangle
54,1997-08-28,4467,82,4.489501,8.972873,50.412701,54.295639,0.429564,red,circle
55,1997-08-29,7304,74,4.931023,5.044775,49.857453,57.984020,0.798402,red,triangle
56,1997-08-30,3649,86,3.651236,7.830061,42.608586,43.899300,-0.610070,red,circle
57,1997-08-31,639,30,9.479230,1.300150,59.687671,61.854042,1.185404,red,triangle
58,1997-09-01,3863,25,6.611127,1.637323,41.314046,42.891660,-0.710834,green,square
59,1997-09-02,7409,46,3.089388,9.666302,51.585682,42.188711,-0.781129,blue,circle
60,1997-09-03,3193,37,4.828547,5.407474,51.615497,47.696270,-0.230373,red,square
61,1997-09-04,1648,45,7.111731,6.874317,59.086757,51.201951,0.120195,red,triangle
62,1997-09-05,9085,61,0.369691,8.881706,43.948876,42.115302,-0.788470,green,square
63,1997-09-06,975,93,1.885842,7.820278,41.666508,20.398774,-2.960123,green,square
64,1997-09-07,3773,23,6.439261,4.853990,57.677284,42.044189,-0.795581,red,square
65,1997-09-08,7399,17,9.290449,2.698814,40.313924,52.845822,0.284582,green,triangle
66,1997-09-09,5294,31,8.141790,6.950421,55.911893,55.225373,0.522537,red,triangle
67,1997-09-10,4513,22,2.355312,9.533027,55.363809,50.835544,0.083554,green,triangle
68,1997-09-11,1991,27,5.854357,5.830665,57.440876,77.207956,2.720796,green,circle
69,1997-09-12,5535,35,1.572095,4.252405,58.322202,56.110079,0.611008,red,triangle
70,1997-09-13,5523,94,2.350219,6.005073,45.476264,41.640560,-0.835944,green,square
71,1997-09-14,6801,99,3.606084,1.688734,44.727623,49.963040,-0.003696,blue,square
72,1997-09-15,5985,13,3.472464,2.145170,46.210397,53.930947,0.393095,green,square
73,1997-09-16,6354,84,7.945283,7.917093,54.312865,56.844951,0.684495,green,triangle
74,1997-09-17,1554,71,1.645404,7.503640,41.654710,57.752017,0.775202,green,square
75,1997-09-18,4239,69,0.558966,2.324704,53.509729,55.560029,0.556003,blue,circle
76,1997-09-19,5511,43,6.500964,7.182418,57.170493,44.590201,-0.540980,green,triangle
77,1997-09-20,4002,57,4.800495,3.376147,53.857938,65.244172,1.524417,green,triangle
78,1997-09-21,7804,23,3.897063,8.587972,55.701674,62.083851,1.208385,blue,circle
79,1997-09-22,2343,16,5.113856,8.746900,47.065625,50.512773,0.051277,green,circle
80,1997-09-23,4086,55,9.464386,9.357337,44.403841,45.733688,-0.426631,blue,triangle
81,1997-09-24,9187,75,4.930379,6.005183,44.907448,58.079402,0.807940,blue,square
82,1997-09-25,4236,56,2.071701,9.561883,54.548250,50.572798,0.057280,blue,square
83,1997-09-26,2854,53,9.868105,8.293788,41.282555,39.598284,-1.040172,red,triangle
84,1997-09-27,1864,45,5.378895,0.835376,49.074749,59.341481,0.934148,blue,square
85,1997-09-28,6035,72,3.138875,1.061134,49.753547,48.799655,-0.120035,blue,circle
86,1997-09-29,7975,24,2.049086,3.255184,52.817497,72.070163,2.207016,red,circle
87,1997-09-30,8538,34,5.016090,8.783188,42.123377,16.000692,-3.399931,blue,triangle
88,1997-10-01,1702,77,2.610089,5.301368,51.472199,62.335289,1.233529,green,circle
89,1997-10-02,860,20,8.438626,1.365645,59.206916,44.121192,-0.587881,red,circle
90,1997-10-03,2078,28,4.002240,5.684853,50.313612,40.230631,-0.976937,red,circle
91,1997-10-04,2427,66,1.860412,0.137159,51.396501,54.680703,0.468070,red,circle
92,1997-10-05,8057,60,5.927891,0.157152,59.760133,78.711269,2.871127,blue,square
93,1997-10-06,7691,11,5.859937,4.086629,56.657419,37.919143,-1.208086,green,circle
94,1997-10-07,9991,14,2.286239,1.898837,49.962874,60.036032,1.003603,red,square
95,1997-10-08,4285,50,9.133029,5.902204,41.603027,61.307264,1.130726,blue,circle
96,1997-10-09,9714,76,1.711943,7.144745,57.420940,55.600397,0.560040,red,triangle
97,1997-10-10,5113,62,2.384461,9.218051,54.261728,43.816027,-0.618397,blue,square
98,1997-10-11,5916,57,7.212739,6.769230,54.642241,47.752013,-0.224799,blue,circle
99,1997-10-12,1578,77,9.868106,5.397452,56.472400,72.159015,2.215901,red,circle

In [46]:
# もどす
pd.set_option("display.max_rows", 20)

続いて、SeriesとDataFrameの関係性についてみていく

In [47]:
sr_price.head()

0    2291
1     506
2    9629
3    6161
4    8570
Name: Price, dtype: int32

In [48]:
df["Price"].head()

0    2291
1     506
2    9629
3    6161
4    8570
Name: Price, dtype: int32

In [49]:
type(df["Price"].head())

pandas.core.series.Series

このようにDataFrameのある1列を取り出すとSeries型になる

In [50]:
# Seriesをndarrayに変換
df["Price"].values

array([2291,  506, 9629, 6161, 8570, 9347, 3723, 4664, 3045, 1874, 5916,
       2926, 4678, 5863, 8099, 7530, 7434, 8255, 1933, 4893, 3445, 5202,
       8521, 4629, 2180, 2977,  266, 5222, 3216, 7194, 7645, 7921, 2716,
       4479, 2894, 8119, 9110, 4768, 3180,  535, 2431, 4063, 6307, 1150,
       3263, 7708,  722, 1838, 4710, 1429, 3349, 9900, 1584,  888, 4467,
       7304, 3649,  639, 3863, 7409, 3193, 1648, 9085,  975, 3773, 7399,
       5294, 4513, 1991, 5535, 5523, 6801, 5985, 6354, 1554, 4239, 5511,
       4002, 7804, 2343, 4086, 9187, 4236, 2854, 1864, 6035, 7975, 8538,
       1702,  860, 2078, 2427, 8057, 7691, 9991, 4285, 9714, 5113, 5916,
       1578], dtype=int32)

In [51]:
# DataFrameをndarrayに変換
df.values[:2]

array([[Timestamp('1997-07-05 00:00:00'), 2291, 25, 2.9466500268710973,
        5.305867556052942, 45.893300053742195, 52.76265890021319,
        0.27626589002131874, 'green', 'triangle'],
       [Timestamp('1997-07-06 00:00:00'), 506, 16, 1.9152078694749486,
        0.6790035819129137, 50.61173511210588, 31.45371921193495,
        -1.854628078806505, 'blue', 'triangle']], dtype=object)

In [52]:
# Seriesをlistに変換
df["Price"].tolist()[:5]

[2291, 506, 9629, 6161, 8570]

In [53]:
# DataFrameをlistに変換
df.values.tolist()[:3]

[[Timestamp('1997-07-05 00:00:00'),
  2291,
  25,
  2.9466500268710973,
  5.305867556052942,
  45.893300053742195,
  52.76265890021319,
  0.27626589002131874,
  'green',
  'triangle'],
 [Timestamp('1997-07-06 00:00:00'),
  506,
  16,
  1.9152078694749486,
  0.6790035819129137,
  50.61173511210588,
  31.45371921193495,
  -1.854628078806505,
  'blue',
  'triangle'],
 [Timestamp('1997-07-07 00:00:00'),
  9629,
  32,
  7.869854599999133,
  6.563335217758555,
  43.830415738949895,
  56.239011113263565,
  0.6239011113263563,
  'blue',
  'square']]

In [54]:
# Seriesをdictionaryに変換
df["Price"].to_dict() # keyがindexになる

{0: 2291,
 1: 506,
 2: 9629,
 3: 6161,
 4: 8570,
 5: 9347,
 6: 3723,
 7: 4664,
 8: 3045,
 9: 1874,
 10: 5916,
 11: 2926,
 12: 4678,
 13: 5863,
 14: 8099,
 15: 7530,
 16: 7434,
 17: 8255,
 18: 1933,
 19: 4893,
 20: 3445,
 21: 5202,
 22: 8521,
 23: 4629,
 24: 2180,
 25: 2977,
 26: 266,
 27: 5222,
 28: 3216,
 29: 7194,
 30: 7645,
 31: 7921,
 32: 2716,
 33: 4479,
 34: 2894,
 35: 8119,
 36: 9110,
 37: 4768,
 38: 3180,
 39: 535,
 40: 2431,
 41: 4063,
 42: 6307,
 43: 1150,
 44: 3263,
 45: 7708,
 46: 722,
 47: 1838,
 48: 4710,
 49: 1429,
 50: 3349,
 51: 9900,
 52: 1584,
 53: 888,
 54: 4467,
 55: 7304,
 56: 3649,
 57: 639,
 58: 3863,
 59: 7409,
 60: 3193,
 61: 1648,
 62: 9085,
 63: 975,
 64: 3773,
 65: 7399,
 66: 5294,
 67: 4513,
 68: 1991,
 69: 5535,
 70: 5523,
 71: 6801,
 72: 5985,
 73: 6354,
 74: 1554,
 75: 4239,
 76: 5511,
 77: 4002,
 78: 7804,
 79: 2343,
 80: 4086,
 81: 9187,
 82: 4236,
 83: 2854,
 84: 1864,
 85: 6035,
 86: 7975,
 87: 8538,
 88: 1702,
 89: 860,
 90: 2078,
 91: 2427,
 92: 8057,
 93: 7691,
 94: 9991,
 95: 4285,
 96: 9714,
 97: 5113,
 98: 5916,
 99: 1578}

In [55]:
# DataFrameをdictionaryに変換
df.to_dict()

{'Date': {0: Timestamp('1997-07-05 00:00:00'),
  1: Timestamp('1997-07-06 00:00:00'),
  2: Timestamp('1997-07-07 00:00:00'),
  3: Timestamp('1997-07-08 00:00:00'),
  4: Timestamp('1997-07-09 00:00:00'),
  5: Timestamp('1997-07-10 00:00:00'),
  6: Timestamp('1997-07-11 00:00:00'),
  7: Timestamp('1997-07-12 00:00:00'),
  8: Timestamp('1997-07-13 00:00:00'),
  9: Timestamp('1997-07-14 00:00:00'),
  10: Timestamp('1997-07-15 00:00:00'),
  11: Timestamp('1997-07-16 00:00:00'),
  12: Timestamp('1997-07-17 00:00:00'),
  13: Timestamp('1997-07-18 00:00:00'),
  14: Timestamp('1997-07-19 00:00:00'),
  15: Timestamp('1997-07-20 00:00:00'),
  16: Timestamp('1997-07-21 00:00:00'),
  17: Timestamp('1997-07-22 00:00:00'),
  18: Timestamp('1997-07-23 00:00:00'),
  19: Timestamp('1997-07-24 00:00:00'),
  20: Timestamp('1997-07-25 00:00:00'),
  21: Timestamp('1997-07-26 00:00:00'),
  22: Timestamp('1997-07-27 00:00:00'),
  23: Timestamp('1997-07-28 00:00:00'),
  24: Timestamp('1997-07-29 00:00:00'),
  25: Timestamp('1997-07-30 00:00:00'),
  26: Timestamp('1997-07-31 00:00:00'),
  27: Timestamp('1997-08-01 00:00:00'),
  28: Timestamp('1997-08-02 00:00:00'),
  29: Timestamp('1997-08-03 00:00:00'),
  30: Timestamp('1997-08-04 00:00:00'),
  31: Timestamp('1997-08-05 00:00:00'),
  32: Timestamp('1997-08-06 00:00:00'),
  33: Timestamp('1997-08-07 00:00:00'),
  34: Timestamp('1997-08-08 00:00:00'),
  35: Timestamp('1997-08-09 00:00:00'),
  36: Timestamp('1997-08-10 00:00:00'),
  37: Timestamp('1997-08-11 00:00:00'),
  38: Timestamp('1997-08-12 00:00:00'),
  39: Timestamp('1997-08-13 00:00:00'),
  40: Timestamp('1997-08-14 00:00:00'),
  41: Timestamp('1997-08-15 00:00:00'),
  42: Timestamp('1997-08-16 00:00:00'),
  43: Timestamp('1997-08-17 00:00:00'),
  44: Timestamp('1997-08-18 00:00:00'),
  45: Timestamp('1997-08-19 00:00:00'),
  46: Timestamp('1997-08-20 00:00:00'),
  47: Timestamp('1997-08-21 00:00:00'),
  48: Timestamp('1997-08-22 00:00:00'),
  49: Timestamp('1997-08-23 00:00:00'),
  50: Timestamp('1997-08-24 00:00:00'),
  51: Timestamp('1997-08-25 00:00:00'),
  52: Timestamp('1997-08-26 00:00:00'),
  53: Timestamp('1997-08-27 00:00:00'),
  54: Timestamp('1997-08-28 00:00:00'),
  55: Timestamp('1997-08-29 00:00:00'),
  56: Timestamp('1997-08-30 00:00:00'),
  57: Timestamp('1997-08-31 00:00:00'),
  58: Timestamp('1997-09-01 00:00:00'),
  59: Timestamp('1997-09-02 00:00:00'),
  60: Timestamp('1997-09-03 00:00:00'),
  61: Timestamp('1997-09-04 00:00:00'),
  62: Timestamp('1997-09-05 00:00:00'),
  63: Timestamp('1997-09-06 00:00:00'),
  64: Timestamp('1997-09-07 00:00:00'),
  65: Timestamp('1997-09-08 00:00:00'),
  66: Timestamp('1997-09-09 00:00:00'),
  67: Timestamp('1997-09-10 00:00:00'),
  68: Timestamp('1997-09-11 00:00:00'),
  69: Timestamp('1997-09-12 00:00:00'),
  70: Timestamp('1997-09-13 00:00:00'),
  71: Timestamp('1997-09-14 00:00:00'),
  72: Timestamp('1997-09-15 00:00:00'),
  73: Timestamp('1997-09-16 00:00:00'),
  74: Timestamp('1997-09-17 00:00:00'),
  75: Timestamp('1997-09-18 00:00:00'),
  76: Timestamp('1997-09-19 00:00:00'),
  77: Timestamp('1997-09-20 00:00:00'),
  78: Timestamp('1997-09-21 00:00:00'),
  79: Timestamp('1997-09-22 00:00:00'),
  80: Timestamp('1997-09-23 00:00:00'),
  81: Timestamp('1997-09-24 00:00:00'),
  82: Timestamp('1997-09-25 00:00:00'),
  83: Timestamp('1997-09-26 00:00:00'),
  84: Timestamp('1997-09-27 00:00:00'),
  85: Timestamp('1997-09-28 00:00:00'),
  86: Timestamp('1997-09-29 00:00:00'),
  87: Timestamp('1997-09-30 00:00:00'),
  88: Timestamp('1997-10-01 00:00:00'),
  89: Timestamp('1997-10-02 00:00:00'),
  90: Timestamp('1997-10-03 00:00:00'),
  91: Timestamp('1997-10-04 00:00:00'),
  92: Timestamp('1997-10-05 00:00:00'),
  93: Timestamp('1997-10-06 00:00:00'),
  94: Timestamp('1997-10-07 00:00:00'),
  95: Timestamp('1997-10-08 00:00:00'),
  96: Timestamp('1997-10-09 00:00:00'),
  97: Timestamp('1997-10-10 00:00:00'),
  98: Timestamp('1997-10-11 00:00:00'),
  99: Timestamp('1997-10-12 00:00:00')},
 'Price': {0: 2291,
  1: 506,
  2: 9629,
  3: 6161,
  4: 8570,
  5: 9347,
  6: 3723,
  7: 4664,
  8: 3045,
  9: 1874,
  10: 5916,
  11: 2926,
  12: 4678,
  13: 5863,
  14: 8099,
  15: 7530,
  16: 7434,
  17: 8255,
  18: 1933,
  19: 4893,
  20: 3445,
  21: 5202,
  22: 8521,
  23: 4629,
  24: 2180,
  25: 2977,
  26: 266,
  27: 5222,
  28: 3216,
  29: 7194,
  30: 7645,
  31: 7921,
  32: 2716,
  33: 4479,
  34: 2894,
  35: 8119,
  36: 9110,
  37: 4768,
  38: 3180,
  39: 535,
  40: 2431,
  41: 4063,
  42: 6307,
  43: 1150,
  44: 3263,
  45: 7708,
  46: 722,
  47: 1838,
  48: 4710,
  49: 1429,
  50: 3349,
  51: 9900,
  52: 1584,
  53: 888,
  54: 4467,
  55: 7304,
  56: 3649,
  57: 639,
  58: 3863,
  59: 7409,
  60: 3193,
  61: 1648,
  62: 9085,
  63: 975,
  64: 3773,
  65: 7399,
  66: 5294,
  67: 4513,
  68: 1991,
  69: 5535,
  70: 5523,
  71: 6801,
  72: 5985,
  73: 6354,
  74: 1554,
  75: 4239,
  76: 5511,
  77: 4002,
  78: 7804,
  79: 2343,
  80: 4086,
  81: 9187,
  82: 4236,
  83: 2854,
  84: 1864,
  85: 6035,
  86: 7975,
  87: 8538,
  88: 1702,
  89: 860,
  90: 2078,
  91: 2427,
  92: 8057,
  93: 7691,
  94: 9991,
  95: 4285,
  96: 9714,
  97: 5113,
  98: 5916,
  99: 1578},
 'Quantity': {0: 25,
  1: 16,
  2: 32,
  3: 67,
  4: 55,
  5: 32,
  6: 41,
  7: 78,
  8: 49,
  9: 94,
  10: 54,
  11: 17,
  12: 11,
  13: 27,
  14: 51,
  15: 66,
  16: 20,
  17: 13,
  18: 73,
  19: 16,
  20: 48,
  21: 51,
  22: 67,
  23: 40,
  24: 27,
  25: 59,
  26: 42,
  27: 71,
  28: 15,
  29: 48,
  30: 12,
  31: 54,
  32: 64,
  33: 23,
  34: 66,
  35: 37,
  36: 93,
  37: 60,
  38: 59,
  39: 70,
  40: 18,
  41: 61,
  42: 37,
  43: 97,
  44: 73,
  45: 36,
  46: 66,
  47: 67,
  48: 89,
  49: 84,
  50: 12,
  51: 59,
  52: 98,
  53: 59,
  54: 82,
  55: 74,
  56: 86,
  57: 30,
  58: 25,
  59: 46,
  60: 37,
  61: 45,
  62: 61,
  63: 93,
  64: 23,
  65: 17,
  66: 31,
  67: 22,
  68: 27,
  69: 35,
  70: 94,
  71: 99,
  72: 13,
  73: 84,
  74: 71,
  75: 69,
  76: 43,
  77: 57,
  78: 23,
  79: 16,
  80: 55,
  81: 75,
  82: 56,
  83: 53,
  84: 45,
  85: 72,
  86: 24,
  87: 34,
  88: 77,
  89: 20,
  90: 28,
  91: 66,
  92: 60,
  93: 11,
  94: 14,
  95: 50,
  96: 76,
  97: 62,
  98: 57,
  99: 77},
 'Width': {0: 2.9466500268710973,
  1: 1.9152078694749486,
  2: 7.869854599999133,
  3: 6.375208960436359,
  4: 0.3906291618886648,
  5: 9.456831868184075,
  6: 8.64042103546211,
  7: 0.5119366562045369,
  8: 5.517513686348753,
  9: 4.835286243100021,
  10: 2.9772571830177164,
  11: 3.9604743604702652,
  12: 4.184843853458769,
  13: 1.5090669442067706,
  14: 7.180371937036457,
  15: 1.9877387220034304,
  16: 5.6799111972463106,
  17: 5.449985739307204,
  18: 6.767623857029604,
  19: 4.449960661200688,
  20: 7.9726772999531015,
  21: 9.607877564667781,
  22: 7.187760832244346,
  23: 8.87736351885637,
  24: 7.769745806055802,
  25: 8.293047639084282,
  26: 3.9037449127658452,
  27: 5.206350635113318,
  28: 1.3042928220861905,
  29: 0.6570232191808534,
  30: 5.807748250867279,
  31: 1.9744377751367526,
  32: 8.838642177332371,
  33: 7.955946473535244,
  34: 8.720437859531705,
  35: 2.7381319291778428,
  36: 3.1051984364538763,
  37: 0.8273548925340335,
  38: 8.585246688775271,
  39: 7.850836912639295,
  40: 2.2019206904373743,
  41: 7.2741251557423094,
  42: 4.537374619422069,
  43: 6.408748294444948,
  44: 5.736099378010375,
  45: 5.156805801975399,
  46: 9.880066615714263,
  47: 4.981436821039962,
  48: 8.710469940649624,
  49: 7.32112043534634,
  50: 7.449792112168064,
  51: 5.147053338756159,
  52: 8.588620568468965,
  53: 1.1938639397855333,
  54: 4.489500682970284,
  55: 4.931023385865267,
  56: 3.6512364939040607,
  57: 9.479230192085655,
  58: 6.611126735260707,
  59: 3.0893876440744794,
  60: 4.828546746654463,
  61: 7.1117313506881885,
  62: 0.3696914756503811,
  63: 1.8858420803313158,
  64: 6.439261219721384,
  65: 9.290449450991957,
  66: 8.141789859746345,
  67: 2.355311918944123,
  68: 5.85435708539726,
  69: 1.5720954243394458,
  70: 2.350219143212403,
  71: 3.6060842250420375,
  72: 3.472464490172318,
  73: 7.945282929965258,
  74: 1.6454035686442858,
  75: 0.5589661884601338,
  76: 6.500964314948689,
  77: 4.8004946350055455,
  78: 3.8970628932173135,
  79: 5.113856111287997,
  80: 9.46438554154552,
  81: 4.9303793193710295,
  82: 2.0717010014018156,
  83: 9.868104591813472,
  84: 5.378894596918018,
  85: 3.1388748900192964,
  86: 2.049086457938701,
  87: 5.016089872551187,
  88: 2.6100894336112903,
  89: 8.438626421168804,
  90: 4.002240102892996,
  91: 1.860412125600558,
  92: 5.927890557476298,
  93: 5.859937235721215,
  94: 2.2862394187870496,
  95: 9.13302919964726,
  96: 1.7119434728109106,
  97: 2.384460588643033,
  98: 7.212738667495619,
  99: 9.868105563430492},
 'Height': {0: 5.305867556052942,
  1: 0.6790035819129137,
  2: 6.563335217758555,
  3: 5.75602893753034,
  4: 3.5781360448354893,
  5: 0.6004468031538535,
  6: 8.772905261480302,
  7: 6.524186154656548,
  8: 5.975132532390511,
  9: 2.829881608569912,
  10: 5.6150890532636115,
  11: 7.887007096788996,
  12: 1.4390392077532788,
  13: 0.5524135021582377,
  14: 2.9231735450413856,
  15: 8.313639223105211,
  16: 0.8233974921248077,
  17: 1.5895874456727543,
  18: 1.1847226487907647,
  19: 8.87982434157199,
  20: 0.6797872826362639,
  21: 6.592053923760217,
  22: 7.435767651340965,
  23: 1.3394566757579296,
  24: 8.379915121953252,
  25: 0.29156996519808853,
  26: 4.372519921680409,
  27: 4.928726741656842,
  28: 9.843835309944723,
  29: 5.7928407774407,
  30: 9.543378655569242,
  31: 0.8332540063040506,
  32: 0.1569619295094371,
  33: 7.681904394283122,
  34: 9.161100863895552,
  35: 2.3638112638259945,
  36: 7.156432589184741,
  37: 6.754864430044265,
  38: 6.9289688411650605,
  39: 3.532812517806195,
  40: 2.4537239045975,
  41: 0.6412777290220895,
  42: 4.876773294685483,
  43: 1.0616885236333873,
  44: 9.603457940240444,
  45: 5.698250458948468,
  46: 8.328709350690627,
  47: 0.8015133786402995,
  48: 7.130864089874244,
  49: 8.236199870200153,
  50: 4.130626280958577,
  51: 8.465414951170501,
  52: 3.105036139431915,
  53: 5.209594813305007,
  54: 8.97287274931809,
  55: 5.044775179915911,
  56: 7.830061210921407,
  57: 1.300150130737544,
  58: 1.6373230849016773,
  59: 9.666301542725805,
  60: 5.407474451942931,
  61: 6.8743174406629866,
  62: 8.881705659558571,
  63: 7.820277580280447,
  64: 4.853989861018971,
  65: 2.6988141269516275,
  66: 6.950420734041188,
  67: 9.533026918410357,
  68: 5.830664686753533,
  69: 4.25240464086586,
  70: 6.005073266197362,
  71: 1.688734483529436,
  72: 2.145170196857751,
  73: 7.917093180964536,
  74: 7.503640485122624,
  75: 2.3247042560172018,
  76: 7.182417639248644,
  77: 3.3761466765737644,
  78: 8.587971938450034,
  79: 8.746900143158227,
  80: 9.357337114048233,
  81: 6.00518275557823,
  82: 9.561882720451141,
  83: 8.29378843353453,
  84: 0.8353762038601176,
  85: 1.0611344922958055,
  86: 3.255183963122801,
  87: 8.783187538109141,
  88: 5.301367725528584,
  89: 1.365644864046166,
  90: 5.684852865557973,
  91: 0.13715933293031335,
  92: 0.1571523208981529,
  93: 4.086629013157247,
  94: 1.8988373787072155,
  95: 5.902203718852678,
  96: 7.14474477740643,
  97: 9.218051432493947,
  98: 6.769229790876689,
  99: 5.3974519649749055},
 'Quality': {0: 45.893300053742195,
  1: 50.61173511210588,
  2: 43.830415738949895,
  3: 41.358007163825825,
  4: 55.739709199998266,
  5: 53.12667043551711,
  6: 52.75041792087272,
  7: 51.51205787506068,
  8: 40.78125832377733,
  9: 47.15627208967098,
  10: 58.91366373636815,
  11: 41.20089360630771,
  12: 57.28084207092422,
  13: 57.54581052296061,
  14: 41.02387331240907,
  15: 53.048372309313095,
  16: 51.035027372697506,
  17: 51.95026506478102,
  18: 49.670572486200044,
  19: 45.659763217139826,
  20: 45.95451436603543,
  21: 51.23017810652722,
  22: 47.92094872094053,
  23: 55.77401419357799,
  24: 48.36968770691754,
  25: 42.87807841550656,
  26: 43.018133888413544,
  27: 41.104827004316476,
  28: 54.36074387407292,
  29: 45.84634709008277,
  30: 43.97547744400686,
  31: 56.627278446210425,
  32: 51.359822394492625,
  33: 41.64679498424962,
  34: 50.899971478614404,
  35: 43.17917489134551,
  36: 53.53524771405921,
  37: 42.36944529758153,
  38: 48.899921322401376,
  39: 57.75964868314398,
  40: 55.9453545999062,
  41: 41.359574565272524,
  42: 59.21575512933556,
  43: 53.18410784752044,
  44: 54.375521664488694,
  45: 54.871535302681934,
  46: 57.75472703771274,
  47: 42.67891335151586,
  48: 55.539491612111604,
  49: 56.75983024390651,
  50: 56.586095278168564,
  51: 40.58313993039618,
  52: 47.80748982553169,
  53: 48.745039843360814,
  54: 50.412701270226634,
  55: 49.857453483313684,
  56: 42.60858564417238,
  57: 59.687670619889445,
  58: 41.31404643836171,
  59: 51.585681554881404,
  60: 51.615496501734555,
  61: 59.086757311138484,
  62: 43.948875550273506,
  63: 41.6665080126081,
  64: 57.67728435466474,
  65: 40.31392385901887,
  66: 55.911892947070484,
  67: 55.363808788566246,
  68: 57.44087571906341,
  69: 58.322201727791104,
  70: 45.476263858355686,
  71: 44.72762252765199,
  72: 46.21039687290775,
  73: 54.31286517836948,
  74: 41.654709785068064,
  75: 53.50972886008853,
  76: 57.17049337755054,
  77: 53.85793768233012,
  78: 55.70167382527859,
  79: 47.06562503561239,
  80: 44.40384138087475,
  81: 44.907447809195,
  82: 54.54825031148462,
  83: 41.28255545804418,
  84: 49.074749238844134,
  85: 49.75354658937097,
  86: 52.817496588889895,
  87: 42.12337704726677,
  88: 51.47219875602075,
  89: 59.20691588048089,
  90: 50.3136116039508,
  91: 51.39650091789694,
  92: 59.760133231428526,
  93: 56.65741870138125,
  94: 49.96287364207993,
  95: 41.6030267572806,
  96: 57.42093988129925,
  97: 54.26172817974849,
  98: 54.64224087069268,
  99: 56.472399740400306},
 'Score': {0: 52.76265890021319,
  1: 31.45371921193495,
  2: 56.239011113263565,
  3: 61.453112895720906,
  4: 60.371904682278824,
  5: 68.86638929781608,
  6: 48.88301709871234,
  7: 46.37898661600951,
  8: 51.48675045045244,
  9: 45.62216847485368,
  10: 71.71256997506643,
  11: 61.52310250623654,
  12: 31.81187660697171,
  13: 48.61950659150358,
  14: 55.39839613857675,
  15: 32.247177128917016,
  16: 63.14876535880369,
  17: 45.265519529259464,
  18: 39.07770099272815,
  19: 47.49972558262249,
  20: 40.17705696417643,
  21: 60.31269092479093,
  22: 54.91333775514212,
  23: 45.53353395797148,
  24: 41.93639918093864,
  25: 51.312677583434564,
  26: 37.874397616162945,
  27: 51.599908534911094,
  28: 42.447769643650034,
  29: 53.498959924220536,
  30: 59.77541764322047,
  31: 48.61414750164035,
  32: 51.03856305141501,
  33: 53.00591036062727,
  34: 59.68205295606987,
  35: 58.69623842050119,
  36: 55.67783088742501,
  37: 54.65282343506052,
  38: 38.34626916821501,
  39: 29.6400520892793,
  40: 38.445867051753176,
  41: 83.45157394902942,
  42: 51.2672721124555,
  43: 43.05821103558776,
  44: 55.57674430896591,
  45: 50.9914659997752,
  46: 56.37926174238758,
  47: 57.03110681028184,
  48: 40.83906846217205,
  49: 42.13985771956767,
  50: 61.19181796437911,
  51: 40.166038908804296,
  52: 52.44520020995672,
  53: 44.18590261551242,
  54: 54.29563902276162,
  55: 57.984019883508374,
  56: 43.89929951332232,
  57: 61.85404207127762,
  58: 42.891659945382116,
  59: 42.18871069477737,
  60: 47.69627021981439,
  61: 51.20195082858019,
  62: 42.115301645938196,
  63: 20.398773808972997,
  64: 42.044188839785406,
  65: 52.845822497822944,
  66: 55.22537281967607,
  67: 50.83554443906464,
  68: 77.2079558955734,
  69: 56.11007882578642,
  70: 41.640560045943374,
  71: 49.96303959167492,
  72: 53.93094680159767,
  73: 56.84495084174127,
  74: 57.752016829723935,
  75: 55.5600288611062,
  76: 44.59020099984377,
  77: 65.2441724758026,
  78: 62.08385130518589,
  79: 50.512772843800526,
  80: 45.73368790590062,
  81: 58.07940227831214,
  82: 50.57279761808299,
  83: 39.59828425611842,
  84: 59.34148085696067,
  85: 48.799654582859944,
  86: 72.07016309092374,
  87: 16.000692207775693,
  88: 62.33528896151288,
  89: 44.1211916108981,
  90: 40.23063079121675,
  91: 54.680702998326325,
  92: 78.7112692412324,
  93: 37.91914316194138,
  94: 60.03603180153984,
  95: 61.30726446440085,
  96: 55.60039692192107,
  97: 43.816026993359166,
  98: 47.752012808065864,
  99: 72.1590145065307},
 'Difference': {0: 0.27626589002131874,
  1: -1.854628078806505,
  2: 0.6239011113263563,
  3: 1.1453112895720903,
  4: 1.0371904682278827,
  5: 1.8866389297816077,
  6: -0.11169829012876616,
  7: -0.36210133839904846,
  8: 0.14867504504524393,
  9: -0.4377831525146323,
  10: 2.1712569975066427,
  11: 1.1523102506236542,
  12: -1.818812339302829,
  13: -0.13804934084964166,
  14: 0.5398396138576749,
  15: -1.7752822871082987,
  16: 1.3148765358803693,
  17: -0.47344804707405347,
  18: -1.0922299007271854,
  19: -0.25002744173775115,
  20: -0.9822943035823575,
  21: 1.031269092479093,
  22: 0.4913337755142121,
  23: -0.4466466042028524,
  24: -0.8063600819061357,
  25: 0.1312677583434561,
  26: -1.2125602383837053,
  27: 0.1599908534911095,
  28: -0.7552230356349968,
  29: 0.3498959924220536,
  30: 0.9775417643220472,
  31: -0.13858524983596474,
  32: 0.10385630514150096,
  33: 0.30059103606272697,
  34: 0.9682052956069863,
  35: 0.8696238420501186,
  36: 0.5677830887425008,
  37: 0.4652823435060517,
  38: -1.1653730831784992,
  39: -2.0359947910720697,
  40: -1.1554132948246822,
  41: 3.3451573949029427,
  42: 0.12672721124555006,
  43: -0.6941788964412238,
  44: 0.5576744308965906,
  45: 0.09914659997752008,
  46: 0.6379261742387575,
  47: 0.7031106810281837,
  48: -0.9160931537827953,
  49: -0.7860142280432331,
  50: 1.1191817964379116,
  51: -0.9833961091195702,
  52: 0.24452002099567186,
  53: -0.5814097384487584,
  54: 0.42956390227616237,
  55: 0.7984019883508374,
  56: -0.6100700486677683,
  57: 1.1854042071277622,
  58: -0.7108340054617888,
  59: -0.7811289305222626,
  60: -0.2303729780185615,
  61: 0.12019508285801855,
  62: -0.7884698354061802,
  63: -2.9601226191027004,
  64: -0.7955811160214592,
  65: 0.2845822497822942,
  66: 0.5225372819676067,
  67: 0.0835544439064642,
  68: 2.7207955895573415,
  69: 0.6110078825786414,
  70: -0.8359439954056626,
  71: -0.0036960408325081625,
  72: 0.3930946801597674,
  73: 0.6844950841741272,
  74: 0.7752016829723937,
  75: 0.5560028861106198,
  76: -0.5409799000156229,
  77: 1.5244172475802602,
  78: 1.2083851305185886,
  79: 0.05127728438005245,
  80: -0.42663120940993826,
  81: 0.8079402278312136,
  82: 0.05727976180829884,
  83: -1.0401715743881583,
  84: 0.9341480856960672,
  85: -0.1200345417140056,
  86: 2.2070163090923742,
  87: -3.3999307792224305,
  88: 1.2335288961512878,
  89: -0.5878808389101897,
  90: -0.9769369208783253,
  91: 0.46807029983263265,
  92: 2.8711269241232396,
  93: -1.208085683805862,
  94: 1.003603180153984,
  95: 1.130726446440085,
  96: 0.5600396921921065,
  97: -0.6183973006640832,
  98: -0.22479871919341382,
  99: 2.215901450653069},
 'Color': {0: 'green',
  1: 'blue',
  2: 'blue',
  3: 'green',
  4: 'red',
  5: 'green',
  6: 'blue',
  7: 'red',
  8: 'red',
  9: 'red',
  10: 'green',
  11: 'blue',
  12: 'green',
  13: 'green',
  14: 'red',
  15: 'blue',
  16: 'blue',
  17: 'blue',
  18: 'blue',
  19: 'green',
  20: 'green',
  21: 'blue',
  22: 'green',
  23: 'blue',
  24: 'green',
  25: 'green',
  26: 'green',
  27: 'red',
  28: 'green',
  29: 'green',
  30: 'blue',
  31: 'blue',
  32: 'blue',
  33: 'red',
  34: 'blue',
  35: 'green',
  36: 'green',
  37: 'red',
  38: 'blue',
  39: 'blue',
  40: 'green',
  41: 'red',
  42: 'green',
  43: 'red',
  44: 'blue',
  45: 'blue',
  46: 'red',
  47: 'green',
  48: 'blue',
  49: 'blue',
  50: 'blue',
  51: 'green',
  52: 'red',
  53: 'green',
  54: 'red',
  55: 'red',
  56: 'red',
  57: 'red',
  58: 'green',
  59: 'blue',
  60: 'red',
  61: 'red',
  62: 'green',
  63: 'green',
  64: 'red',
  65: 'green',
  66: 'red',
  67: 'green',
  68: 'green',
  69: 'red',
  70: 'green',
  71: 'blue',
  72: 'green',

In [56]:
# サンプルごとのデータを取り出す場合
df.to_dict(orient="records")

[{'Date': Timestamp('1997-07-05 00:00:00'),
  'Price': 2291,
  'Quantity': 25,
  'Width': 2.9466500268710973,
  'Height': 5.305867556052942,
  'Quality': 45.893300053742195,
  'Score': 52.76265890021319,
  'Difference': 0.27626589002131874,
  'Color': 'green',
  'Shape': 'triangle'},
 {'Date': Timestamp('1997-07-06 00:00:00'),
  'Price': 506,
  'Quantity': 16,
  'Width': 1.9152078694749486,
  'Height': 0.6790035819129137,
  'Quality': 50.61173511210588,
  'Score': 31.45371921193495,
  'Difference': -1.854628078806505,
  'Color': 'blue',
  'Shape': 'triangle'},
 {'Date': Timestamp('1997-07-07 00:00:00'),
  'Price': 9629,
  'Quantity': 32,
  'Width': 7.869854599999133,
  'Height': 6.563335217758555,
  'Quality': 43.830415738949895,
  'Score': 56.239011113263565,
  'Difference': 0.6239011113263563,
  'Color': 'blue',
  'Shape': 'square'},
 {'Date': Timestamp('1997-07-08 00:00:00'),
  'Price': 6161,
  'Quantity': 67,
  'Width': 6.375208960436359,
  'Height': 5.75602893753034,
  'Quality': 41.358007163825825,
  'Score': 61.453112895720906,
  'Difference': 1.1453112895720903,
  'Color': 'green',
  'Shape': 'square'},
 {'Date': Timestamp('1997-07-09 00:00:00'),
  'Price': 8570,
  'Quantity': 55,
  'Width': 0.3906291618886648,
  'Height': 3.5781360448354893,
  'Quality': 55.739709199998266,
  'Score': 60.371904682278824,
  'Difference': 1.0371904682278827,
  'Color': 'red',
  'Shape': 'square'},
 {'Date': Timestamp('1997-07-10 00:00:00'),
  'Price': 9347,
  'Quantity': 32,
  'Width': 9.456831868184075,
  'Height': 0.6004468031538535,
  'Quality': 53.12667043551711,
  'Score': 68.86638929781608,
  'Difference': 1.8866389297816077,
  'Color': 'green',
  'Shape': 'triangle'},
 {'Date': Timestamp('1997-07-11 00:00:00'),
  'Price': 3723,
  'Quantity': 41,
  'Width': 8.64042103546211,
  'Height': 8.772905261480302,
  'Quality': 52.75041792087272,
  'Score': 48.88301709871234,
  'Difference': -0.11169829012876616,
  'Color': 'blue',
  'Shape': 'circle'},
 {'Date': Timestamp('1997-07-12 00:00:00'),
  'Price': 4664,
  'Quantity': 78,
  'Width': 0.5119366562045369,
  'Height': 6.524186154656548,
  'Quality': 51.51205787506068,
  'Score': 46.37898661600951,
  'Difference': -0.36210133839904846,
  'Color': 'red',
  'Shape': 'square'},
 {'Date': Timestamp('1997-07-13 00:00:00'),
  'Price': 3045,
  'Quantity': 49,
  'Width': 5.517513686348753,
  'Height': 5.975132532390511,
  'Quality': 40.78125832377733,
  'Score': 51.48675045045244,
  'Difference': 0.14867504504524393,
  'Color': 'red',
  'Shape': 'triangle'},
 {'Date': Timestamp('1997-07-14 00:00:00'),
  'Price': 1874,
  'Quantity': 94,
  'Width': 4.835286243100021,
  'Height': 2.829881608569912,
  'Quality': 47.15627208967098,
  'Score': 45.62216847485368,
  'Difference': -0.4377831525146323,
  'Color': 'red',
  'Shape': 'circle'},
 {'Date': Timestamp('1997-07-15 00:00:00'),
  'Price': 5916,
  'Quantity': 54,
  'Width': 2.9772571830177164,
  'Height': 5.6150890532636115,
  'Quality': 58.91366373636815,
  'Score': 71.71256997506643,
  'Difference': 2.1712569975066427,
  'Color': 'green',
  'Shape': 'triangle'},
 {'Date': Timestamp('1997-07-16 00:00:00'),
  'Price': 2926,
  'Quantity': 17,
  'Width': 3.9604743604702652,
  'Height': 7.887007096788996,
  'Quality': 41.20089360630771,
  'Score': 61.52310250623654,
  'Difference': 1.1523102506236542,
  'Color': 'blue',
  'Shape': 'circle'},
 {'Date': Timestamp('1997-07-17 00:00:00'),
  'Price': 4678,
  'Quantity': 11,
  'Width': 4.184843853458769,
  'Height': 1.4390392077532788,
  'Quality': 57.28084207092422,
  'Score': 31.81187660697171,
  'Difference': -1.818812339302829,
  'Color': 'green',
  'Shape': 'triangle'},
 {'Date': Timestamp('1997-07-18 00:00:00'),
  'Price': 5863,
  'Quantity': 27,
  'Width': 1.5090669442067706,
  'Height': 0.5524135021582377,
  'Quality': 57.54581052296061,
  'Score': 48.61950659150358,
  'Difference': -0.13804934084964166,
  'Color': 'green',
  'Shape': 'triangle'},
 {'Date': Timestamp('1997-07-19 00:00:00'),
  'Price': 8099,
  'Quantity': 51,
  'Width': 7.180371937036457,
  'Height': 2.9231735450413856,
  'Quality': 41.02387331240907,
  'Score': 55.39839613857675,
  'Difference': 0.5398396138576749,
  'Color': 'red',
  'Shape': 'triangle'},
 {'Date': Timestamp('1997-07-20 00:00:00'),
  'Price': 7530,
  'Quantity': 66,
  'Width': 1.9877387220034304,
  'Height': 8.313639223105211,
  'Quality': 53.048372309313095,
  'Score': 32.247177128917016,
  'Difference': -1.7752822871082987,
  'Color': 'blue',
  'Shape': 'square'},
 {'Date': Timestamp('1997-07-21 00:00:00'),
  'Price': 7434,
  'Quantity': 20,
  'Width': 5.6799111972463106,
  'Height': 0.8233974921248077,
  'Quality': 51.035027372697506,
  'Score': 63.14876535880369,
  'Difference': 1.3148765358803693,
  'Color': 'blue',
  'Shape': 'circle'},
 {'Date': Timestamp('1997-07-22 00:00:00'),
  'Price': 8255,
  'Quantity': 13,
  'Width': 5.449985739307204,
  'Height': 1.5895874456727543,
  'Quality': 51.95026506478102,
  'Score': 45.265519529259464,
  'Difference': -0.47344804707405347,
  'Color': 'blue',
  'Shape': 'triangle'},
 {'Date': Timestamp('1997-07-23 00:00:00'),
  'Price': 1933,
  'Quantity': 73,
  'Width': 6.767623857029604,
  'Height': 1.1847226487907647,
  'Quality': 49.670572486200044,
  'Score': 39.07770099272815,
  'Difference': -1.0922299007271854,
  'Color': 'blue',
  'Shape': 'triangle'},
 {'Date': Timestamp('1997-07-24 00:00:00'),
  'Price': 4893,
  'Quantity': 16,
  'Width': 4.449960661200688,
  'Height': 8.87982434157199,
  'Quality': 45.659763217139826,
  'Score': 47.49972558262249,
  'Difference': -0.25002744173775115,
  'Color': 'green',
  'Shape': 'circle'},
 {'Date': Timestamp('1997-07-25 00:00:00'),
  'Price': 3445,
  'Quantity': 48,
  'Width': 7.9726772999531015,
  'Height': 0.6797872826362639,
  'Quality': 45.95451436603543,
  'Score': 40.17705696417643,
  'Difference': -0.9822943035823575,
  'Color': 'green',
  'Shape': 'square'},
 {'Date': Timestamp('1997-07-26 00:00:00'),
  'Price': 5202,
  'Quantity': 51,
  'Width': 9.607877564667781,
  'Height': 6.592053923760217,
  'Quality': 51.23017810652722,
  'Score': 60.31269092479093,
  'Difference': 1.031269092479093,
  'Color': 'blue',
  'Shape': 'square'},
 {'Date': Timestamp('1997-07-27 00:00:00'),
  'Price': 8521,
  'Quantity': 67,
  'Width': 7.187760832244346,
  'Height': 7.435767651340965,
  'Quality': 47.92094872094053,
  'Score': 54.91333775514212,
  'Difference': 0.4913337755142121,
  'Color': 'green',
  'Shape': 'square'},
 {'Date': Timestamp('1997-07-28 00:00:00'),
  'Price': 4629,
  'Quantity': 40,
  'Width': 8.87736351885637,
  'Height': 1.3394566757579296,
  'Quality': 55.77401419357799,
  'Score': 45.53353395797148,
  'Difference': -0.4466466042028524,
  'Color': 'blue',
  'Shape': 'square'},
 {'Date': Timestamp('1997-07-29 00:00:00'),
  'Price': 2180,
  'Quantity': 27,
  'Width': 7.769745806055802,
  'Height': 8.379915121953252,
  'Quality': 48.36968770691754,
  'Score': 41.93639918093864,
  'Difference': -0.8063600819061357,
  'Color': 'green',
  'Shape': 'square'},
 {'Date': Timestamp('1997-07-30 00:00:00'),
  'Price': 2977,
  'Quantity': 59,
  'Width': 8.293047639084282,
  'Height': 0.29156996519808853,
  'Quality': 42.87807841550656,
  'Score': 51.312677583434564,
  'Difference': 0.1312677583434561,
  'Color': 'green',
  'Shape': 'triangle'},
 {'Date': Timestamp('1997-07-31 00:00:00'),
  'Price': 266,
  'Quantity': 42,
  'Width': 3.9037449127658452,
  'Height': 4.372519921680409,
  'Quality': 43.018133888413544,
  'Score': 37.874397616162945,
  'Difference': -1.2125602383837053,
  'Color': 'green',
  'Shape': 'square'},
 {'Date': Timestamp('1997-08-01 00:00:00'),
  'Price': 5222,
  'Quantity': 71,
  'Width': 5.206350635113318,
  'Height': 4.928726741656842,
  'Quality': 41.104827004316476,
  'Score': 51.599908534911094,
  'Difference': 0.1599908534911095,
  'Color': 'red',
  'Shape': 'square'},
 {'Date': Timestamp('1997-08-02 00:00:00'),
  'Price': 3216,
  'Quantity': 15,
  'Width': 1.3042928220861905,
  'Height': 9.843835309944723,
  'Quality': 54.36074387407292,
  'Score': 42.447769643650034,
  'Difference': -0.7552230356349968,
  'Color': 'green',
  'Shape': 'circle'},
 {'Date': Timestamp('1997-08-03 00:00:00'),
  'Price': 7194,
  'Quantity': 48,
  'Width': 0.6570232191808534,
  'Height': 5.7928407774407,
  'Quality': 45.84634709008277,
  'Score': 53.498959924220536,
  'Difference': 0.3498959924220536,
  'Color': 'green',
  'Shape': 'triangle'},
 {'Date': Timestamp('1997-08-04 00:00:00'),
  'Price': 7645,
  'Quantity': 12,
  'Width': 5.807748250867279,
  'Height': 9.543378655569242,
  'Quality': 43.97547744400686,
  'Score': 59.77541764322047,
  'Difference': 0.9775417643220472,
  'Color': 'blue',
  'Shape': 'square'},
 {'Date': Timestamp('1997-08-05 00:00:00'),
  'Price': 7921,
  'Quantity': 54,
  'Width': 1.9744377751367526,
  'Height': 0.8332540063040506,
  'Quality': 56.627278446210425,
  'Score': 48.61414750164035,
  'Difference': -0.13858524983596474,
  'Color': 'blue',
  'Shape': 'circle'},
 {'Date': Timestamp('1997-08-06 00:00:00'),
  'Price': 2716,
  'Quantity': 64,
  'Width': 8.838642177332371,
  'Height': 0.1569619295094371,
  'Quality': 51.359822394492625,
  'Score': 51.03856305141501,
  'Difference': 0.10385630514150096,
  'Color': 'blue',
  'Shape': 'triangle'},
 {'Date': Timestamp('1997-08-07 00:00:00'),
  'Price': 4479,
  'Quantity': 23,
  'Width': 7.955946473535244,
  'Height': 7.681904394283122,
  'Quality': 41.64679498424962,
  'Score': 53.00591036062727,
  'Difference': 0.30059103606272697,
  'Color': 'red',
  'Shape': 'circle'},
 {'Date': Timestamp('1997-08-08 00:00:00'),
  'Price': 2894,
  'Quantity': 66,
  'Width': 8.720437859531705,
  'Height': 9.161100863895552,
  'Quality': 50.899971478614404,
  'Score': 59.68205295606987,
  'Difference': 0.9682052956069863,
  'Color': 'blue',
  'Shape': 'square'},
 {'Date': Timestamp('1997-08-09 00:00:00'),
  'Price': 8119,
  'Quantity': 37,
  'Width': 2.7381319291778428,
  'Height': 2.3638112638259945,
  'Quality': 43.17917489134551,
  'Score': 58.69623842050119,
  'Difference': 0.8696238420501186,
  'Color': 'green',
  'Shape': 'circle'},
 {'Date': Timestamp('1997-08-10 00:00:00'),
  'Price': 9110,
  'Quantity': 93,
  'Width': 3.1051984364538763,
  'Height': 7.156432589184741,
  'Quality': 53.53524771405921,
  'Score': 55.67783088742501,
  'Difference': 0.5677830887425008,
  'Color': 'green',
  'Shape': 'square'},
 {'Date': Timestamp('1997-08-11 00:00:00'),
  'Price': 4768,
  'Quantity': 60,
  'Width': 0.8273548925340335,
  'Height': 6.754864430044265,
  'Quality': 42.36944529758153,
  'Score': 54.65282343506052,
  'Difference': 0.4652823435060517,
  'Color': 'red',
  'Shape': 'circle'},
 {'Date': Timestamp('1997-08-12 00:00:00'),
  'Price': 3180,
  'Quantity': 59,
  'Width': 8.585246688775271,
  'Height': 6.9289688411650605,
  'Quality': 48.899921322401376,
  'Score': 38.34626916821501,
  'Difference': -1.1653730831784992,
  'Color': 'blue',
  'Shape': 'square'},
 {'Date': Timestamp('1997-08-13 00:00:00'),
  'Price': 535,
  'Quantity': 70,
  'Width': 7.850836912639295,
  'Height': 3.532812517806195,
  'Quality': 57.75964868314398,
  'Score': 29.6400520892793,
  'Difference': -2.0359947910720697,
  'Color': 'blue',
  'Shape': 'square'},
 {'Date': Timestamp('1997-08-14 00:00:00'),
  'Price': 2431,
  'Quantity': 18,
  'Width': 2.2019206904373743,
  'Height': 2.4537239045975,
  'Quality': 55.9453545999062,
  'Score': 38.445867051753176,
  'Difference': -1.1554132948246822,
  'Color': 'green',
  'Shape': 'triangle'},
 {'Date': Timestamp('1997-08-15 00:00:00'),
  'Price': 4063,
  'Quantity': 61,
  'Width': 7.2741251557423094,
  'Height': 0.6412777290220895,
  'Quality': 41.359574565272524,
  'Score': 83.45157394902942,
  'Difference': 3.3451573949029427,
  'Color': 'red',
  'Shape': 'triangle'},
 {'Date': Timestamp('1997-08-16 00:00:00'),
  'Price': 6307,
  'Quantity': 37,
  'Width': 4.537374619422069,
  'Height': 4.876773294685483,
  'Quality': 59.21575512933556,
  'Score': 51.2672721124555,
  'Difference': 0.12672721124555006,
  'Color': 'green',
  'Shape': 'square'},
 {'Date': Timestamp('1997-08-17 00:00:00'),
  'Price': 1150,
  'Quantity': 97,
  'Width': 6.408748294444948,
  'Height': 1.0616885236333873,
  'Quality': 53.18410784752044,
  'Score': 43.05821103558776,
  'Difference': -0.6941788964412238,
  'Color': 'red',
  'Shape': 'triangle'},
 {'Date': Timestamp('1997-08-18 00:00:00'),
  'Price': 3263,
  'Quantity': 73,
  'Width': 5.736099378010375,
  'Height': 9.603457940240444,
  'Quality': 54.375521664488694,
  'Score': 55.57674430896591,
  'Difference': 0.5576744308965906,
  'Color': 'blue',
  'Shape': 'triangle'},
 {'Date': Timestamp('1997-08-19 00:00:00'),
  'Price': 7708,
  'Quantity': 36,
  'Width': 5.156805801975399,
  'Height': 5.698250458948468,
  'Quality': 54.871535302681934,
  'Score': 50.9914659997752,
  'Difference': 0.09914659997752008,
  'Color': 'blue',
  'Shape': 'triangle'},
 {'Date': Timestamp('1997-08-20 00:00:00'),
  'Price': 722,
  'Quantity': 66,
  'Width': 9.880066615714263,
  'Height': 8.328709350690627,
  'Quality': 57.75472703771274,
  'Score': 56.37926174238758,
  'Difference': 0.6379261742387575,
  'Color': 'red',
  'Shape': 'circle'},
 {'Date': Timestamp('1997-08-21 00:00:00'),
  'Price': 1838,
  'Quantity': 67,
  'Width': 4.981436821039962,
  'Height': 0.8015133786402995,
  'Quality': 42.67891335151586,
  'Score': 57.03110681028184,
  'Difference': 0.7031106810281837,
  'Color': 'green',
  'Shape': 'triangle'},
 {'Date': Timestamp('1997-08-22 00:00:00'),
  'Price': 4710,
  'Quantity': 89,
  'Width': 8.710469940649624,
  'Height': 7.130864089874244,
  'Quality': 55.539491612111604,
  'Score': 40.83906846217205,
  'Difference': -0.9160931537827953,
  'Color': 'blue',
  'Shape': 'triangle'},
 {'Date': Timestamp('1997-08-23 00:00:00'),
  'Price': 1429,
  'Quantity': 84,
  'Width': 7.32112043534634,
  'Height': 8.236199870200153,
  'Quality': 56.75983024390651,
  'Score': 42.13985771956767,
  'Difference': -0.7860142280432331,
  'Color': 'blue',
  'Shape': 'circle'},
 {'Date': Timestamp('1997-08-24 00:00:00'),
  'Price': 3349,
  'Quantity': 12,
  'Width': 7.449792112168064,
  'Height': 4.130626280958577,
  'Quality': 56.586095278168564,
  'Score': 61.19181796437911,
  'Difference': 1.1191817964379116,
  'Color': 'blue',
  'Shape': 'circle'},
 {'Date': Timestamp('1997-08-25 00:00:00'),
  'Price': 9900,
  'Quantity': 59,
  'Width': 5.147053338756159,
  'Height': 8.465414951170501,
  'Quality': 40.58313993039618,
  'Score': 40.166038908804296,
  'Difference': -0.9833961091195702,
  'Color': 'green',
  'Shape': 'square'},
 {'Date': Timestamp('1997-08-26 00:00:00'),
  'Price': 1584,
  'Quantity': 98,
  'Width': 8.588620568468965,
  'Height': 3.105036139431915,
  'Quality': 47.80748982553169,
  'Score': 52.44520020995672,
  'Difference': 0.24452002099567186,
  'Color': 'red',
  'Shape': 'square'},
 {'Date': Timestamp('1997-08-27 00:00:00'),
  'Price': 888,
  'Quantity': 59,
  'Width': 1.1938639397855333,
  'Height': 5.209594813305007,
  'Quality': 48.745039843360814,
  'Score': 44.18590261551242,
  'Difference': -0.5814097384487584,
  'Color': 'green',
  'Shape': 'triangle'},
 {'Date': Timestamp('1997-08-28 00:00:00'),
  'Price': 4467,
  'Quantity': 82,
  'Width': 4.489500682970284,
  'Height': 8.97287274931809,
  'Quality': 50.412701270226634,
  'Score': 54.29563902276162,
  'Difference': 0.42956390227616237,
  'Color': 'red',
  'Shape': 'circle'},
 {'Date': Timestamp('1997-08-29 00:00:00'),
  'Price': 7304,
  'Quantity': 74,
  'Width': 4.931023385865267,
  'Height': 5.044775179915911,
  'Quality': 49.857453483313684,
  'Score': 57.984019883508374,
  'Difference': 0.7984019883508374,
  'Color': 'red',
  'Shape': 'triangle'},
 {'Date': Timestamp('1997-08-30 00:00:00'),
  'Price': 3649,
  'Quantity': 86,
  'Width': 3.6512364939040607,
  'Height': 7.830061210921407,
  'Quality': 42.60858564417238,
  'Score': 43.89929951332232,
  'Difference': -0.6100700486677683,
  'Color': 'red',
  'Shape': 'circle'},
 {'Date': Timestamp('1997-08-31 00:00:00'),
  'Price': 639,
  'Quantity': 30,
  'Width': 9.479230192085655,
  'Height': 1.300150130737544,
  'Quality': 59.687670619889445,
  'Score': 61.85404207127762,
  'Difference': 1.1854042071277622,
  'Color': 'red',
  'Shape': 'triangle'},
 {'Date': Timestamp('1997-09-01 00:00:00'),
  'Price': 3863,
  'Quantity': 25,
  'Width': 6.611126735260707,
  'Height': 1.6373230849016773,
  'Quality': 41.31404643836171,
  'Score': 42.891659945382116,
  'Difference': -0.7108340054617888,
  'Color': 'green',
  'Shape': 'square'},
 {'Date': Timestamp('1997-09-02 00:00:00'),
  'Price': 7409,
  'Quantity': 46,
  'Width': 3.0893876440744794,
  'Height': 9.666301542725805,
  'Quality': 51.585681554881404,
  'Score': 42.18871069477737,
  'Difference': -0.7811289305222626,
  'Color': 'blue',
  'Shape': 'circle'},
 {'Date': Timestamp('1997-09-03 00:00:00'),
  'Price': 3193,
  'Quantity': 37,
  'Width': 4.828546746654463,
  'Height': 5.407474451942931,
  'Quality': 51.615496501734555,
  'Score': 47.69627021981439,
  'Difference': -0.2303729780185615,
  'Color': 'red',
  'Shape': 'square'},
 {'Date': Timestamp('1997-09-04 00:00:00'),
  'Price': 1648,
  'Quantity': 45,
  'Width': 7.1117313506881885,
  'Height': 6.8743174406629866,
  'Quality': 59.086757311138484,
  'Score': 51.20195082858019,
  'Difference': 0.12019508285801855,
  'Color': 'red',
  'Shape': 'triangle'},
 {'Date': Timestamp('1997-09-05 00:00:00'),
  'Price': 9085,
  'Quantity': 61,
  'Width': 0.3696914756503811,
  'Height': 8.881705659558571,
  'Quality': 43.948875550273506,
  'Score': 42.115301645938196,
  'Difference': -0.7884698354061802,
  'Color': 'green',
  'Shape': 'square'},
 {'Date': Timestamp('1997-09-06 00:00:00'),
  'Price': 975,
  'Quantity': 93,
  'Width': 1.8858420803313158,
  'Height': 7.820277580280447,
  'Quality': 41.6665080126081,
  'Score': 20.398773808972997,
  'Difference': -2.9601226191027004,
  'Color': 'green',
  'Shape': 'square'},
 {'Date': Timestamp('1997-09-07 00:00:00'),
  'Price': 3773,
  'Quantity': 23,
  'Width': 6.439261219721384,
  'Height': 4.853989861018971,
  'Quality': 57.67728435466474,
  'Score': 42.044188839785406,
  'Difference': -0.7955811160214592,
  'Color': 'red',
  'Shape': 'square'},
 {'Date': Timestamp('1997-09-08 00:00:00'),
  'Price': 7399,
  'Quantity': 17,
  'Width': 9.290449450991957,
  'Height': 2.6988141269516275,
  'Quality': 40.31392385901887,
  'Score': 52.845822497822944,
  'Difference': 0.2845822497822942,
  'Color': 'green',
  'Shape': 'triangle'},
 {'Date': Timestamp('1997-09-09 00:00:00'),
  'Price': 5294,
  'Quantity': 31,
  'Width': 8.141789859746345,
  'Height': 6.950420734041188,
  'Quality': 55.911892947070484,
  'Score': 55.22537281967607,
  'Difference': 0.5225372819676067,
  'Color': 'red',
  'Shape': 'triangle'},
 {'Date': Timestamp('1997-09-10 00:00:00'),
  'Price': 4513,
  'Quantity': 22,
  'Width': 2.355311918944123,
  'Height': 9.533026918410357,
  'Quality': 55.363808788566246,
  'Score': 50.83554443906464,
  'Difference': 0.0835544439064642,
  'Color': 'green',
  'Shape': 'triangle'},
 {'Date': Timestamp('1997-09-11 00:00:00'),
  'Price': 1991,
  'Quantity': 27,
  'Width': 5.85435708539726,
  'Height': 5.830664686753533,
  'Quality': 57.44087571906341,
  'Score': 77.2079558955734,
  'Difference': 2.7207955895573415,
  'Color': 'green',
  'Shape': 'circle'},
 {'Date': Timestamp('1997-09-12 00:00:00'),
  'Price': 5535,
  'Quantity': 35,
  'Width': 1.5720954243394458,
  'Height': 4.25240464086586,
  'Quality': 58.322201727791104,
  'Score': 56.11007882578642,
  'Difference': 0.6110078825786414,
  'Color': 'red',
  'Shape': 'triangle'},
 {'Date': Timestamp('1997-09-13 00:00:00'),
  'Price': 5523,
  'Quantity': 94,
  'Width': 2.350219143212403,
  'Height': 6.005073266197362,
  'Quality': 45.476263858355686,
  'Score': 41.640560045943374,
  'Difference': -0.8359439954056626,
  'Color': 'green',
  'Shape': 'square'},

In [57]:
# indexを指定したSeriesの作成
arr = np.random.randint(0, 100, 8)
pd.Series(arr, name="sample", index=list("ABCDEFGH"))

A    25
B    31
C    87
D    82
E     5
F     5
G    16
H    30
Name: sample, dtype: int32

In [59]:
# DictionaryからSeriesを作成
pd.Series({"A":1, "B":2, "C":3}, name="sample")

A    1
B    2
C    3
Name: sample, dtype: int64

In [62]:
# DictionaryのlistからDataFrameを作成
pd.DataFrame([{"A":1, "B":2, "C":3}, {"A":10, "C":30, "B":20}]) # 1つのdictが1つのレコードとして認識される

    A   B   C
0   1   2   3
1  10  20  30

In [63]:
# インデックスに名前を付ける
pd.DataFrame([{"A":1, "B":2, "C":3}, {"A":10, "C":30, "B":20}], index=["x", "y"])

    A   B   C
x   1   2   3
y  10  20  30

In [64]:
# 2次元listからDataFrameを作成
arr1 = np.random.rand(10)
arr2 = np.random.randn(10)
pd.DataFrame([arr1, arr2])

,0,1,2,3,4,5,6,7,8,9
0,0.671938,0.950605,0.327944,0.641632,0.256059,0.514142,0.502651,0.073043,0.648260,0.970659
1,0.753655,0.722396,2.143382,1.515023,0.782370,0.829342,-2.833786,-0.570191,1.722725,-2.281936